<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <input type="checkbox" id="check">
    <label id="icone" for="check">
        <div class="menu"></div>
        <div class="menu"></div>
        <div class="menu"></div>
    </label>
    <div class="barra">
        <nav>
            <a href="">
                <div class="link">Dashboard</div>
            </a>
            <a href="">
                <div class="link">Reviews</div>
            </a>
            <a href="">
                <div class="link">Análises</div>
            </a>
        </nav>
    </div>
</input>
    <div class="card">
        <h4><b>Licitação A</b></h4>
        <p>Itens a serem relacionados</p>
        <div class="container">
            <p>Notebook</p>
            <p>Impressora</p>
            <p>Desktops</p>
            <p>Smartphones</p>
        </div>
        <div class="containerA">
                <div class="borderimg">
                <img src="../public/img/imgbox.png">
                </div>
  </div>

</body>

</html>