<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <input type="checkbox" id="check">
    <label id="icone" for="check"><img src="../public/img/menu-icon.png">
        <div class="barra">
            <nav>
            <a href=""><div class="link">Dashboard</a>
            <a href=""><div class="link">Reviews</a>
            <a href=""><div class="link">Análises</a>
            </nav>
        </div>
        
</body>
</html>
