* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    background-color: #fafafa;
}

header {
    height: 10vh;
    padding: 20px;

    display: flex;
    justify-content: space-between;

    background-color: #FFFEFE;
    box-shadow: 0 0 5px #40476D;
    font-weight: 800;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav ul {
    width: 250px;

    display: flex;
    justify-content: space-between;

    list-style: none;
}

a {
    text-decoration: none;
    color: #08ADF8;
}

section.content {
    background-color: #40476D;
    color: #FFFEFE;
    height: 90vh;

    padding: 60px;
    display: flex;
    justify-content: space-around;
}

section.content div {
    width: 50%;
    padding: 20px;
}

section.content div * {
    margin-top: 20px;
}

div#cadastrar {
    background-color: #FFFEFE;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: #40476D;
    font-weight: 800;
}

section.content div.img {
    background-color: #FFFEFE;
    height: 80%;
    text-align: center;
    color: #40476D;
    font-weight: 900;
}

#info {
    height: 100vh;
    text-align: center;
    padding: 50px;
}

#info h1 {
    color: #40476D;
}

#info > div {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

#info > div > * {
    width: 50%;
    margin-top: 30px;
}

#info > div > div > p {
    padding: 15px;
    text-align: justify;
}


#info > div img {
    border: 1px dotted black;
    height: 60vh;
}


footer {
    height: 15vh;
    padding: 20px;

    display: flex;
    justify-content: space-around;

    background-color: #40476D;
    color: #FFFEFE;
    font-weight: 800;
}

footer ul{
    width: 300px;
    text-align: center;

    list-style: none;
}

footer a {
    color: #FFFEFE;
}



/* -- Missing crete the @media-querries to style mobile - */
/* -------------- cadastro.html styles ------------------ */

section.formulario {
    padding: 40px;
    display: flex;
    justify-content: center;
}

section.formulario form {
    width: 60vw;
    box-shadow: 0 0 2px #40476D;

    padding: 50px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
}

section.formulario form > * {
    width: 50%;
}

section.formulario form > * > label {
    display: block;
    font-size: 11px;
    margin: 5px 0;
}


section.formulario form #enviar {
    margin-top: 40px;
    width: 100px;
    height: 30px;
    
}