/* Bootstrap Margin reset ------------------- */
p {
    margin: 0;
}

p2 {
    margin: 0;
    font-size: 10px;
}
/* ------------------------------------------ */

.card-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    font-weight: bolder;
    background-color: white;
    border-radius: 10px;
}

.card-item {
    border-radius: 10px;
    padding: 20px 0 5px 0;
    background-color: #a7efec;
    color: white;
    margin: 15px 0;
    width: 300px;
    height: 250px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
}


.card-licitacao{
    border-radius: 10px;
    padding: 20px 0 5px 0;
    color: #40476d;
    margin: 15px 0;
    width: 300px;
    height: 250px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
}



.card-item-vencedor{
    border-radius: 10px;
    padding: 20px 0 5px 0;
    background-color: #07beb8;
    color: white;
    margin: 15px 0;
    width: 300px;
    height: 250px;

    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    text-align: center;
}


/* going to add property */
div.orca-company {
    color: #40476d;
    height: 35%;
    display: flex;
}

div.orca-company :nth-child(1) {
    border-radius: 20%;
    background-color: rgb(218, 218, 218);
    height: 50%;
    width: auto;
    margin-left: 30px;
  
}

div.company-data {
    display: flex;
    flex-direction: column;
    justify-content: auto;
    font-size: 16px;
    
}


div.company-options {
    font-size: 16px;
    display: flex;
    padding: 0 20px;
    height: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.company-options svg {
    width: 25px;
    height: 20px;
}